{% extends 'base/base.html' %} {% block title %} {{ title }} {% endblock %} {%
block herotitle %} Cocina {% endblock %} {% block herosubtitle %} {% endblock %}
{% block contenttitle %} {% endblock %} {% block contentsubtitle %} {% endblock
%} {% block content %}
<head><link rel="stylesheet" href="static/res/css/style1285.css?etag=ZghyVnuu"><link rel="stylesheet" href="static/res/css/custom3a57.css?etag=ElI7Eb3S"><link rel="stylesheet" href="../fonts.googleapis.com/cssbc32.css?family=Open+Sans:400,300,600,700&amp;subset=all"><link rel="stylesheet" href="../maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"><!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]--><script>document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'js');</script></head>
<div id="wrapper" ng-app="symmetricstrength"><main page-type="default" username="" hide-weight="false"></main>
</div>
<script src="static/res/libsb7fb.js?etag=W_iKDuqc"></script><script src="static/res/angular684a.js?etag=D6lEYJMt"></script><script src="static/res/angular/symmetricstrength8e91.js?etag=HQGwZokQ"></script><script src="static/res/angular/components/main965f.js?etag=u5pajWRN"></script><script src="static/res/angular/components/standards8d4b.js?etag=2jsdoNiP"></script></body><script>if (jQuery) {jQuery(document).ready(function() {Metronic.init();Layout.init();});}</script>


{% endblock %}