{% extends 'base/base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block herotitle %} Dieta {% endblock %}
{% block herosubtitle %} Aquí puedes revisar y ajustar tus hábitos alimenticios, <a class="font-w600">{{ username }}</a>. {% endblock %}
{% block contenttitle %} Registra tu consumo semanal {% endblock %}
{% block contentsubtitle %} Ingresa la cantidad de porciones que consumes semanalmente para cada grupo de alimentos. {% endblock %}

{% block content %}
<div class="block block-rounded">
    <div class="block-content block-content-full">
        <!-- Formulario -->
        {% from "_macro.html" import render_field %}

        <form name="sentMessage" id="dietForm" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="row push">
                <div class="col-lg-12">
                    <label for="example-text-input">Dieta Semanal</label>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div class="alert alert-danger alert-dismissable" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            {% for category, message in messages %}
                                <!-- Aplica el filtro 'safe' directamente al mensaje -->
                                <p class="{{ category }}">{{ message|safe }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
            <div class="row push">
                <div class="col-lg-12">
                    <h3>Seleccionar Alimentos y sus cantidades</h3>
                    <div class="form-group row">
                        {% for group_name_tuple in form.all_food_groups %}
                            {% set group_name = group_name_tuple[0] %}
                            <!-- Columna para incluir alimentos -->
                            <div class="col-2">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="alimento_{{ group_name }}-incluir" name="alimento_{{ group_name }}_incluir" {{ 'checked' if form['alimento_' + group_name + '_incluir'].data else '' }}>
                                    <label class="custom-control-label" for="alimento_{{ group_name }}-incluir">Incluir {{ group_name }}</label>
                                </div>
                            </div>
                            <!-- Columna para las porciones semanales -->
                            <div class="col-2">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">{{ group_name }}</span>
                                        </div>
                                        {{ render_field(form['alimento_' + group_name + '_porciones_semanales'], class='form-control', id='alimento_' + group_name + '-porciones') }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                     <!-- Aquí comienza la sección de nutrientes -->
                     <h3>Seleccionar Nutrientes</h3>
                     <div class="form-group row">
                         {% for nutrient in form.nutrients %}
                         <div class="col-4">
                             <div class="form-group">
                                 <div class="custom-control custom-switch">
                                     <input type="checkbox" class="custom-control-input" id="nutriente_{{ nutrient }}-incluir" name="nutriente_{{ nutrient }}_incluir" {{ 'checked' if form['nutriente_' + nutrient + '_incluir'].data else '' }}>
                                     <label class="custom-control-label" for="nutriente_{{ nutrient }}-incluir">Incluir {{ nutrient }}</label>
                                 </div>
                             </div>
                         </div>
                         {% endfor %}
                     </div>
                    </div>
                    <!-- Botón de envío -->
                    <div class="col-xl-12">
                        <button type="submit" class="btn btn-block btn-primary">
                            <i class="fa fa-fw fa-sign-in-alt mr-1"></i> Enviar
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <!-- END Formulario -->
    </div>
</div>

{% endblock %}
