<div class="portlet light">
    <div class="portlet-title" ng-if="pageType === \'loggedIn\'">
        <div class="caption caption-md"><span class="caption-subject theme-font bold uppercase">Log your latest
                lifts</span>\n</div>\n
    </div>\n<div class="portlet-body">
        <form role="form" name="mainForm" novalidate>
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group form-md-line-input form-md-floating-label col-md-3 unit-system"><select
                            class="form-control edited" id="form-unit-system" ng-model="mainCtrl.state.unitSystem">
                            <option value="Imperial">Imperial</option>\n<option value="Metric">Metric</option>\n
                        </select>\n<label for="form-unit-system">Units</label>\n</div>\n<div
                        class="form-group form-md-line-input form-md-floating-label col-md-3"><select
                            class="form-control edited" id="form-round-to" ng-model="mainCtrl.state.roundCalculationsTo"
                            convert-to-number>
                            <option value="1" ng-if="mainCtrl.state.unitSystem === \'Metric\'">1 kg</option>\n<option
                                value="1" ng-if="mainCtrl.state.unitSystem !== \'Metric\'">1 lb</option>\n<option
                                value="2.5" ng-if="mainCtrl.state.unitSystem === \'Metric\'">2.5 kg</option>\n<option
                                value="2.5" ng-if="mainCtrl.state.unitSystem !== \'Metric\'">2.5 lbs</option>\n<option
                                value="5" ng-if="mainCtrl.state.unitSystem === \'Metric\'">5 kg</option>\n<option
                                value="5" ng-if="mainCtrl.state.unitSystem !== \'Metric\'">5 lbs</option>\n<option
                                value="10" ng-if="mainCtrl.state.unitSystem === \'Metric\'">10 kg</option>\n<option
                                value="10" ng-if="mainCtrl.state.unitSystem !== \'Metric\'">10 lbs</option>\n
                        </select>\n<label for="form-round-to">Round calculations to nearest</label></label>\n</div>\n
                </div>\n
                <hr>\n<div class="row">
                    <h2>Select the lifts that you train. <small>These lifts will be used to determine your strength
                            levels. For the most complete results, choose at least one lift per category.</small></h2>
                    </h2>\n
                </div>\n<div class="row lift-categories">
                    <div class="col-md-4 col-lg-3">
                        <div class="form-group form-md-checkboxes"><label>Squat</label>\n<div class="md-checkbox-list">
                                <div class="md-checkbox"><input class="md-check" type="checkbox" id="form-back-squat"
                                        ng-model="mainCtrl.state.liftFields.backSquat.checked"><label
                                        for="form-back-squat"><span></span>\n<span class="check"></span>\n<span
                                            class="box"></span>\nBack Squat</label>\n</input>\n</div>\n<div
                                    class="md-checkbox"><input class="md-check" type="checkbox" id="form-front-squat"
                                        ng-model="mainCtrl.state.liftFields.frontSquat.checked"><label
                                        for="form-front-squat"><span></span>\n<span class="check"></span>\n<span
                                            class="box"></span>\nFront Squat</label>\n</input>\n</div>\n
                            </div>\n</div>\n
                    </div>\n<div class="col-md-4 col-lg-3">
                        <div class="form-group form-md-checkboxes"><label>Floor Pull</label>\n<div
                                class="md-checkbox-list">
                                <div class="md-checkbox"><input class="md-check" type="checkbox" id="form-deadlift"
                                        ng-model="mainCtrl.state.liftFields.deadlift.checked"><label
                                        for="form-deadlift"><span></span>\n<span class="check"></span>\n<span
                                            class="box"></span>\nDeadlift</label>\n</input>\n</div>\n<div
                                    class="md-checkbox"><input class="md-check" type="checkbox" id="form-sumo-deadlift"
                                        ng-model="mainCtrl.state.liftFields.sumoDeadlift.checked"><label
                                        for="form-sumo-deadlift"><span></span>\n<span class="check"></span>\n<span
                                            class="box"></span>\nSumo Deadlift</label>\n</input>\n</div>\n<div
                                    class="md-checkbox"><input class="md-check" type="checkbox" id="form-power-clean"
                                        ng-model="mainCtrl.state.liftFields.powerClean.checked"><label
                                        for="form-power-clean"><span></span>\n<span class="check"></span>\n<span
                                            class="box"></span>\nPower Clean</label>\n</input>\n</div>\n
                            </div>\n</div>\n
                    </div>\n<div class="col-md-4 col-lg-3">
                        <div class="form-group form-md-checkboxes"><label>Horizontal Press</label>\n<div
                                class="md-checkbox-list">
                                <div class="md-checkbox"><input class="md-check" type="checkbox" id="form-bench-press"
                                        ng-model="mainCtrl.state.liftFields.benchPress.checked"><label
                                        for="form-bench-press"><span></span>\n<span class="check"></span>\n<span
                                            class="box"></span>\nBench Press</label>\n</input>\n</div>\n<div
                                    class="md-checkbox"><input class="md-check" type="checkbox"
                                        id="form-incline-bench-press"
                                        ng-model="mainCtrl.state.liftFields.inclineBenchPress.checked"><label
                                        for="form-incline-bench-press"><span></span>\n<span class="check"></span>\n<span
                                            class="box"></span>\nIncline Bench Press</label>\n</input>\n</div>\n<div
                                    class="md-checkbox"><input class="md-check" type="checkbox" id="form-dip"
                                        ng-model="mainCtrl.state.liftFields.dip.checked"><label
                                        for="form-dip"><span></span>\n<span class="check"></span>\n<span
                                            class="box"></span>\nDip</label>\n</input>\n</div>\n
                            </div>\n</div>\n
                    </div>\n
                </div>\n<div class="row lift-categories">
                    <div class="col-md-4 col-lg-3">
                        <div class="form-group form-md-checkboxes"><label>Vertical Press</label>\n<div
                                class="md-checkbox-list">
                                <div class="md-checkbox"><input class="md-check" type="checkbox"
                                        id="form-overhead-press"
                                        ng-model="mainCtrl.state.liftFields.overheadPress.checked"><label
                                        for="form-overhead-press"><span></span>\n<span class="check"></span>\n<span
                                            class="box"></span>\nOverhead Press</label>\n</input>\n</div>\n<div
                                    class="md-checkbox"><input class="md-check" type="checkbox" id="form-push-press"
                                        ng-model="mainCtrl.state.liftFields.pushPress.checked"><label
                                        for="form-push-press"><span></span>\n<span class="check"></span>\n<span
                                            class="box"></span>\nPush Press</label>\n</input>\n</div>\n<div
                                    class="md-checkbox"><input class="md-check" type="checkbox" id="form-snatch-press"
                                        ng-model="mainCtrl.state.liftFields.snatchPress.checked"><label
                                        for="form-snatch-press"><span></span>\n<span class="check"></span>\n<span
                                            class="box"></span>\nSnatch Press</label>\n</input>\n</div>\n
                            </div>\n</div>\n
                    </div>\n<div class="col-md-4 col-lg-3">
                        <div class="form-group form-md-checkboxes"><label>Pull-up / Row</label>\n<div
                                class="md-checkbox-list">
                                <div class="md-checkbox"><input class="md-check" type="checkbox" id="form-chinup"
                                        ng-model="mainCtrl.state.liftFields.chinup.checked"><label
                                        for="form-chinup"><span></span>\n<span class="check"></span>\n<span
                                            class="box"></span>\nChin-up</label>\n</input>\n</div>\n<div
                                    class="md-checkbox"><input class="md-check" type="checkbox" id="form-pullup"
                                        ng-model="mainCtrl.state.liftFields.pullup.checked"><label
                                        for="form-pullup"><span></span>\n<span class="check"></span>\n<span
                                            class="box"></span>\nPull-up</label>\n</input>\n</div>\n<div
                                    class="md-checkbox"><input class="md-check" type="checkbox" id="form-pendlay-row"
                                        ng-model="mainCtrl.state.liftFields.pendlayRow.checked"><label
                                        for="form-pendlay-row"><span></span>\n<span class="check"></span>\n<span
                                            class="box"></span>\nPendlay Row</label>\n</input>\n</div>\n
                            </div>\n</div>\n
                    </div>\n
                </div>\n<p class="text-error" ng-if="mainCtrl.state.errors.noLiftChecked">Check at least one lift.</p>\n
                <hr>\n<div class="row">
                    <h2>Enter your sex, bodyweight, &amp; age. <small>Your strength score adjusts by sex, bodyweight,
                            and age, allowing you to measure yourself against any other lifter.</small></h2>
                    </h2>\n
                </div>\n<div class="row lifter-info">
                    <div class="form-group form-md-line-input form-md-floating-label col-md-2"><select
                            class="form-control edited" id="form-sex" ng-model="mainCtrl.state.sex">
                            <option value="Male">Male</option>\n<option value="Female">Female</option>\n
                        </select>\n<label for="form-sex">Sex</label>\n</div>\n<div
                        class="form-group form-md-line-input form-md-floating-label col-md-3 col-lg-2"
                        ng-class="{\'has-error\': mainCtrl.state.errors.bodyweight}">
                        <div class="input-group right-addon"><input class="form-control" id="form-bodyweight"
                                ng-class="{\'edited\':mainCtrl.state.bodyweight != null}" type="number"
                                ng-model="mainCtrl.state.bodyweight" name="bodyweight" required>\n<span
                                class="input-group-addon" ng-bind="mainCtrl.displayUnits()"></span>\n<label
                                for="form-body-weight">Body weight</label>\n</div>\n<span class="help-block">Enter your
                            body weight.</span>\n
                    </div>\n<div class="form-group form-md-line-input form-md-floating-label col-md-3 col-lg-2"
                        ng-class="{\'has-error\': mainCtrl.state.errors.age}">
                        <div class="input-group"><input class="form-control" id="form-age"
                                ng-class="{\'edited\':mainCtrl.state.age != null}" type="number"
                                ng-model="mainCtrl.state.age" name="age" required>\n<label for="form-age">Age
                                (optional)</label>\n</div>\n<span class="help-block">Age must be between 10 and
                            100.</span>\n
                    </div>\n
                </div>\n
                <hr>\n<div class="row">
                    <h2>Enter your best recent sets. <small>Finally, for each lift you train, enter your most difficult
                            set that you have completed recently. Each set should be 10 or fewer reps.</small></h2>
                    </h2>\n
                </div>\n<div class="animate-fade" ng-repeat="lift in mainCtrl.lifts"
                    ng-if="mainCtrl.state.liftFields[lift].checked">
                    <div class="row">
                        <div class="col-md-2">
                            <h5 class="lift-title" ng-bind="mainCtrl.state.liftFields[lift].liftName"></h5>\n
                        </div>\n<div class="form-group form-md-line-input form-md-floating-label col-md-2"
                            ng-if="mainCtrl.state.liftFields[lift].liftType"><select class="form-control edited"
                                id="form-{{lift}}-type" ng-model="mainCtrl.state.liftFields[lift].liftType">
                                <option value="Standard">Standard</option>\n<option value="Weighted">Weighted</option>\n
                                <option value="Assisted">Assisted</option>\n
                            </select>\n<label for="form-{{lift}}-type">Type</label>\n</div>\n<div
                            class="form-group form-md-line-input form-md-floating-label col-md-3 col-lg-2"
                            ng-if="mainCtrl.state.liftFields[lift].liftType !== \'Standard\'"
                            ng-class="{\'has-error\':mainCtrl.state.errors.liftFields[lift].weight}">
                            <div class="input-group right-addon"><input class="form-control"
                                    ng-if="lift === \'chinup\' || lift === \'pullup\' || lift === \'dip\'"
                                    ng-class="{\'edited\':mainCtrl.state.liftFields[lift].specialWeight != null}"
                                    type="number" id="form-{{lift}}-weight"
                                    ng-model="mainCtrl.state.liftFields[lift].specialWeight" required>\n<input
                                    class="form-control"
                                    ng-if="lift !== \'chinup\' && lift !== \'pullup\' && lift !== \'dip\'"
                                    ng-class="{\'edited\':mainCtrl.state.liftFields[lift].weight != null}" type="number"
                                    id="form-{{lift}}-weight" ng-model="mainCtrl.state.liftFields[lift].weight"
                                    required>\n<span class="input-group-addon"
                                    ng-bind="mainCtrl.displayUnits()"></span>\n<label
                                    ng-if="mainCtrl.state.liftFields[lift].liftType === \'Weighted\'"
                                    for="form-{{lift}}-weight">Weight added</label>\n<label
                                    ng-if="mainCtrl.state.liftFields[lift].liftType === \'Assisted\'"
                                    for="form-{{lift}}-weight">Assist weight</label>\n<label
                                    ng-if="mainCtrl.state.liftFields[lift].liftType !== \'Weighted\' && mainCtrl.state.liftFields[lift].liftType !== \'Assisted\'"
                                    for="form-{{lift}}-weight">Weight</label>\n</div>\n<span class="help-block">Enter
                                the weight.</span>\n
                        </div>\n<div class="form-group form-md-line-input form-md-floating-label col-md-2"
                            ng-class="{\'has-error\':mainCtrl.state.errors.liftFields[lift].reps}">
                            <div class="input-group left-addon"><span class="input-group-addon"><i
                                        class="fa fa-times"></i>\n</span>\n<input class="form-control" type="number"
                                    ng-class="{\'edited\':mainCtrl.state.liftFields[lift].reps != null}"
                                    id="form-{{lift}}-reps" ng-model="mainCtrl.state.liftFields[lift].reps"
                                    required>\n<label for="form-{{lift}}-reps">Reps</label>\n</div>\n<span
                                class="help-block">Enter the rep count.</span>\n
                        </div>\n
                    </div>\n<div class="row" ng-if="mainCtrl.state.liftFields[lift].liftType === \'Standard\'">
                        <div class="col-md-10 col-md-offset-2 note-ten-reps">
                            <div class="note note-info col-md-10 col-md-offset-2"><strong>Note:</strong> If you can do
                                over 10 reps, start doing weighted {{mainCtrl.displayLift(lift)|lowercase}}s for the
                                most accurate results. See the <a href="/about#faq">FAQ section</a> for more
                                information.</div>\n
                        </div>\n
                    </div>\n
                </div>\n<div class="row"><button class="btn btn-lg red-sunglo"
                        ng-click="mainCtrl.calculateResults()">Analyze{{ pageType === \'default\' ? \' Strength\' :
                        \'\'}}</button>\n<button class="btn btn-lg green-haze" ng-if="pageType === \'loggedIn\'"
                        ng-click="mainCtrl.calculateResults() && mainCtrl.saveLifts()">Analyze and Log
                        Lifts</button>\n<button class="btn btn-lg grey-pastel" ng-if="pageType === \'loggedIn\'"
                        ng-click="mainCtrl.loadLifts()">Reset</button>\n<button
                        class="btn btn-lg grey-steel analyze-help-btn" ng-if="pageType === \'loggedIn\'"
                        ng-click="mainCtrl.state.displayAnalyzeHelp = !mainCtrl.state.displayAnalyzeHelp"><i
                            class="fa fa-question"></i>\n</button>\n<div
                        class="note note-info analyze-help animate-fade"
                        ng-if="pageType === \'loggedIn\' && mainCtrl.state.displayAnalyzeHelp">
                        <p><strong>Analyze:</strong> Displays a strength analysis, but does not save the data you
                            entered. Use this if you\'re just curious about some results.</p>\n<p><strong>Analyze and
                                Log Lifts:</strong> Displays a strength analysis and saves the data you entered. Use
                            this if the numbers you entered match your recent lifts.</p>\n<p><strong>Reset:</strong>
                            Loads your last logged lifts.</p>\n
                    </div>\n<div class="alert alert-block alert-danger error-panel"
                        ng-if="mainCtrl.state.errors.errorList.length > 0">
                        <h4 class="alert-heading">Please correct the following and try again:</h4>\n<ul>
                            <li ng-repeat="error in mainCtrl.state.errors.errorList" ng-bind="error"></li>\n
                        </ul>\n
                    </div>\n</div>\n
            </div>\n
        </form>\n
    </div>\n
</div>\n